/Users/pranayreddy/Documents/GitHub/SC/SC/departmentmanager.client/obj/
/Users/pranayreddy/Documents/GitHub/SC/SC/DepartmentManager.Server/obj/
/Users/pranayreddy/Documents/GitHub/SC/SC/DepartmentManager.Server/bin
